# Исследование надёжности заёмщиков

**Заказчик** — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Данные имеют следующие столбцы:

- `children` — количество детей в семье  
- `days_employed` — общий трудовой стаж в днях  
- `dob_years` — возраст клиента в годах  
- `education` — уровень образования клиента  
- `education_id` — идентификатор уровня образования  
- `family_status` — семейное положение  
- `family_status_id` — идентификатор семейного положения  
- `gender` — пол клиента  
- `income_type` — тип занятости  
- `debt` — имел ли задолженность по возврату кредитов  
- `total_income` — ежемесячный доход  
- `purpose` — цель получения кредита

## План работы над проектом

1. **Анализ данных**
   - Провести анализ пропусков
   - Изучить изменения данных
   - Выявить повторяющиеся значения

2. **Очистка данных**
   - Определить, какие некорректные строки требуется сохранить
   - Удалить невалидные данные

3. **Заполнение пропусков**
   - Заполнить значения в пропущенных ячейках таблицы

4. **Удаление дубликатов**
   - Найти и удалить дублирующиеся записи

5. **Категоризация данных**
   - Вывести категории для проведения гипотез

6. **Формулирование выводов**
   - Составить выводы по каждому исследовательскому вопросу

7. **Итоговый отчёт**
   - Сформулировать общий вывод по проекту

## Откроем таблицу и изучим общую информацию о данных

Подключение необходимых библиотек:

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

Вывод первых 20 строчек датафрейма `data` на экран:

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Вывод основной информации о датафрейме с помощью метода `info()`:

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца:

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Заполним пропуски в столбце `total_income` — данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [6]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) наблюдаются аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится нам для исследования.

Выведем перечень уникальных значений столбца `children`.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведём их к нижнему регистру, проверим остальные столбцы.

In [14]:
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

### Шаг 3. Исследуем данные и ответим на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
children_total_debt = data['children'].value_counts().to_frame()                                           #суммарное количество заёмщиков по количеству детей
children_total_debt['children_dolg'] = data.groupby('children')['debt'].sum()                              #количество просрочек платежей в каждой группе
children_total_debt['total_debt'] = children_total_debt['children_dolg'] / children_total_debt['children'] #процент просрочек платежей
children_total_debt['group_mass'] = children_total_debt['children'] / data['children'].count()             #удельный вес группы
children_total_debt.sort_values(by='total_debt', ascending=true)

   children  children_dolg  total_debt  group_mass
4        41              4    0.097561    0.001922
2      2052            194    0.094542    0.096198
1      4808            444    0.092346    0.225400
3       330             27    0.081818    0.015470
0     14091           1063    0.075438    0.660588
5         9              0    0.000000    0.000422

Альтернативно:

In [23]:
# Создаем копию датасета, что бы не работать с исходным
temp = data.copy()
# Напишем функцию, так как все задачи аналогичны
def que(category):
    data_temp = temp.pivot_table(index=category, values='debt', aggfunc=['count', 'sum', 'mean'])
    data_temp.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
    # Оформим таблицу цветным градиентом, но можно ее вывести и просто display(data_temp)
    display(data_temp.style.format("{:.3f}").background_gradient(cmap='Blues', axis=0))
    
que('children')

**Вывод:** По результату анализа данных можно можно сказать, что существует зависимость между количеством детей и возвратом кредита в срок.
Максимальный процент просрочек (9,2%-9,8%) наблюдается в группах "4 детей", "2 детей", "1 ребёнок".
Бездетные допускают гораздо меньше просрочек (7,5%), особенно если учесть массовую долю этой группы (66,1% от общего количества заёмщиков).
Данными по группе "5 детей" можно пренебречь по причине малой выборки в датафрейме (удельный вес группы 0,04%).

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
family_total_debt = data['family_status'].value_counts().to_frame()                                     #суммарное количество заёмщиков по семейному положению
family_total_debt['family_dolg'] = data.groupby('family_status')['debt'].sum()                          #количество просрочек платежей в каждой группе
family_total_debt['total_debt'] = family_total_debt['family_dolg'] / family_total_debt['family_status'] #процент просрочек платежей
family_total_debt['group_mass'] = family_total_debt['family_status'] / data['family_status'].count()    #удельный вес группы
family_total_debt.sort_values(by='total_debt', ascending=true)

                       family_status  family_dolg  total_debt  group_mass
Не женат / не замужем           2796          273    0.097639    0.131077
гражданский брак                4134          385    0.093130    0.193802
женат / замужем                12261          927    0.075606    0.574797
в разводе                       1189           84    0.070648    0.055740
вдовец / вдова                   951           63    0.066246    0.044583

**Вывод:** По результату анализа данных можно сказать, что больше всего просрочек делают люди вне брака или состоящие в гражданском браке (9,3-9,7%). 
Более ответственно к выплатам подходят вдовцы и люди в разводе (6,6%-7,1% просрочек).
Состоящие в браке располагаются в середине "рейтинга".
Также по данной выборке можно сделать косвенное предположение, что своевременные выплаты зависят от возраста заёмщика: самые ответственные, весьма вероятно, старше среднего возраста (вдовцы/разведены), менее ответственные же наоборот, скорее всего, более молодые (не в браке/сожительствуют).

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
income_total_debt = data['total_income_category'].value_counts().to_frame()                                          #суммарное количество заёмщиков по уровню дохода
income_total_debt['income_dolg'] = data.groupby('total_income_category')['debt'].sum()                               #количество просрочек платежей в каждой группе
income_total_debt['total_debt'] = income_total_debt['income_dolg'] / income_total_debt['total_income_category']      #процент просрочек платежей
income_total_debt['group_mass'] = income_total_debt['total_income_category'] / data['total_income_category'].count() #удельный вес группы
income_total_debt.sort_values(by='total_debt', ascending=true)

   total_income_category  income_dolg  total_debt  group_mass
E                     22            2    0.090909    0.001031
C                  15921         1353    0.084982    0.746379
A                     25            2    0.080000    0.001172
B                   5014          354    0.070602    0.235057
D                    349           21    0.060172    0.016361

**Вывод:** По результату анализа данных можно сказать, что больше всего просрочек (9,1%) делают люди с самым низким уровнем дохода (что вполне логично). Однако, в то же время самыми ответственными заёмщиками (6,0% просрочек) являются люди с доходами на уровне "ниже среднего". Возможно, это обуславливается жёстким ведением семейного бюджета в условиях ограниченной суммы дохода и стабильной возможностью внесения минимального платежа по кредиту. К сожалению, высокий процент просрочек (8,5%) наблюдается в "средней" группе. Это можно объяснить предположением о недостаточном контроле семейного бюджета.
В то же время необходима оговорка о недостаточной выборке по группам "А" и "Е": удельный вес обеих групп составляет ~0,01% от общего числа заёмщиков, поэтому данные по ним могут быть искажены.

Альтернативно:

In [27]:
# Комментарий ревьюера 2
temp = data.copy()
start, stop = 3, 8 # начальное и конечное количество категорий
while start <= stop:
    temp['new_category'] = pd.qcut(temp['total_income'], q=start, precision=0)
    que('new_category')
    start += 1

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
purpose_total_debt = data['purpose_category'].value_counts().to_frame()                                          #суммарное количество заёмщиков по уровню дохода
purpose_total_debt['purpose_dolg'] = data.groupby('purpose_category')['debt'].sum()                               #количество просрочек платежей в каждой группе
purpose_total_debt['total_debt'] = purpose_total_debt['purpose_dolg'] / purpose_total_debt['purpose_category']      #процент просрочек платежей
purpose_total_debt['group_mass'] = purpose_total_debt['purpose_category'] / data['purpose_category'].count() #удельный вес группы
purpose_total_debt.sort_values(by='total_debt', ascending=true)

,purpose_category,purpose_dolg,total_debt,group_mass
операции с автомобилем,4279,400,0.093480,0.200600
получение образования,3988,369,0.092528,0.186958
проведение свадьбы,2313,183,0.079118,0.108434
операции с недвижимостью,10751,780,0.072551,0.504008

**Вывод:** По результату анализа данных можно сказать, что больше всего просрочек (9,3%) делается по группам "операции с автомобилем", "получение образования". Это возможно косвенно объяснить возрастом заёмщиков (молодые студенты, доходы низкие), а также условным "классом" автомобиля (цена и размер кредита на авто не соответствуют уровню дохода заёмщика). Меньше всего просрочек (7,3%) происходит при операциях с недвижимостью. Это обуславливается высокими рисками потери дорогого имущества, важностью данной цели кредитования вне зависимости от уровня дохода/семейного положения и т.д.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

Существует несколько причин отсутствия данных в датасетах, в том числе:

- Человеческий фактор: Ошибки ввода данных, не желание отвечать на определенные вопросы.
- Технические проблемы: Возможны сбои с оборудованием или программным обеспечением для сбора данных. Отсутствующие данные могут быть удалены в процессе обработки или очистки данных.
- Организационные: Конфиденциальность, могут отсутствовать данные, идентифицирующие отдельных лиц или компании.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

Среднее значение некорректно характеризует данные, когда некоторые значения сильно выделяются среди большинства. Если в выборке присутствуют выдающиеся значения (сверхвысокие доходы и сверхнизкие доходы, нулевой стаж безработного и суммарный стаж работавшего пенсионера), лучше использовать медиану.

### Шаг 4: общий вывод.

Данный проект заключается в исследовании надёжности заемщиков.

# Описание проекта:
Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

# Описание данных:
* children — количество детей в семье
* days_employed — общий трудовой стаж в днях
* dob_years — возраст клиента в годах
* education — уровень образования клиента
* education_id — идентификатор уровня образования
* family_status — семейное положение
* family_status_id — идентификатор семейного положения
* gender — пол клиента
* income_type — тип занятости
* debt — имел ли задолженность по возврату кредитов
* total_income — ежемесячный доход
* purpose — цель получения кредита

# Исследование данных:
В ходе исследования были сделаны следующие выводы:
* существует зависимость между количеством детей и возвратом кредита в срок. Максимальный процент просрочек наблюдается в группах "4 детей", "2 детей", "1 ребёнок". Бездетные допускают меньше всего просрочек. Данными по группе "5 детей" можно пренебречь по причине малой выборки в датафрейме;

* больше всего просрочек делают люди вне брака или состоящие в гражданском браке. Более ответственно к выплатам подходят вдовцы и люди в разводе. Состоящие в браке располагаются в середине "рейтинга". Также по данной выборке можно сделать косвенное предположение, что своевременные выплаты зависят от возраста заёмщика: самые ответственные, весьма вероятно, старше среднего возраста (вдовцы/разведены), менее ответственные же наоборот, скорее всего, более молодые (не в браке/сожительствуют);

* больше всего просрочек делают люди с самым низким уровнем дохода. Однако, в то же время самыми ответственными заёмщиками  являются люди с доходами на уровне "ниже среднего". Высокий процент просрочек наблюдается в "средней" группе. Необходима оговорка о недостаточной выборке по группам "А" и "Е": удельный вес обеих групп составляет ~0,01% от общего числа заёмщиков, поэтому данные по ним могут быть искажены;

* больше всего просрочек делается по группам "операции с автомобилем" и "получение образования". Это возможно косвенно объяснить возрастом заёмщиков, а также рисками владения автомобиля. Меньше всего просрочек происходит при операциях с недвижимостью.

# Предобработка данных:
**Обработка пропусков:**

В двух столбцах исходного датафрейма есть пропущенные значения. Столбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type.
Также заполнили пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type.

**Обработка аномалий:**

В данных встретились артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. такими артефактами будут отрицательные количества дней трудового стажа в столбце days_employed. Обработали значения в этом столбце: заменили все отрицательные значения положительными с помощью метода abs().
В столбце children есть два аномальных значения. Удалили строки, в которых они встречаются.


**Обработка дубликатов:**

Обработали неявные дубликаты в столбце education. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв.

**Категоризация данных:**

На основании исходных данных создали столбцы с диапазонами по уровню дохода, а также по целям кредитования.
# Анализ:
Для ответов на поставленные вопросы были созданы отдельные датафреймы с конкретными группировками данных. Визуально они представлены в виде таблиц. На основе таюлиц были сделаны соответствующие выводы, которыпе указаны выше.